.form_select
  = form_tag("/display_theme", remote: true,  :format => "js") do
    = select_tag :theme,
      options_for_select(@themes),
      prompt: t('.select_theme'), locale: @current_locale,
      onchange:  "$(this).parent('form').submit();",
      formats: [ :js ]
